<div class="container">

  <div class="row">
    <div class="col">
      <h2>Post entry</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3><span class="badge badge-secondary">#{{post.id}}</span> {{post.title}}</h3>
      <p>{{post.body}}</p>
      <div class="row">
        <div class="col text-right">
            <span class="badge badge-dark">USER: {{post.userId}}</span>
        </div>
      </div>
    </div>
  </div>

  <app-comments-component [postId]="postId"></app-comments-component>

  <div class="row">
    <div class="col">
      <button [routerLink]="['/posts']" type="button" class="btn btn-link">&lt;&lt; BACK</button>
    </div>
    <div class="col text-right toggle-add-comment" *ngIf="!commentBoxOpened">
      <button (click)="commentBoxOpened = true;" type="button" class="btn btn-secondary">Add comment</button>
    </div>
    <div class="col text-right toggle-add-comment" *ngIf="commentBoxOpened">
      <button (click)="commentBoxOpened = false;" type="button" class="btn btn-dark">Hide box</button>
    </div>
  </div>

  <app-add-comment-component [postId]="postId" *ngIf="commentBoxOpened"></app-add-comment-component>

</div>
